<div class="scroll-container-desktop hide-mobile">
    <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"
        [ngStyle]="{'top.px': 100 + (i * 90)}" [playerActiv]="i == game.currentPlayer" [image]="game.player_imges[i]"
        [name]="player" class="player-position hide-mobile"> </app-player>
</div>


<div class="scroll-container hide-desktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"
        [ngStyle]="{'left.px': 10 + (i * 130)}" [playerActiv]="i == game.currentPlayer" [image]="game.player_imges[i]"
        [name]="player" class="hide-desktop">
    </app-player-mobile>
</div>

<div *ngIf="gameOver" class="game-over">
    <img src="assets/img/game_over.svg">
    <div class="start-label-box">
        <img (click)="newGame()" src="assets/img/startlabel.png">
    </div>
</div>


<div *ngIf="!gameOver" class="field">

    <div class="card-stack">
        <!--Card stack -->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0,1,2,3]; let i = index;"
            src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px;" src="assets/img/cards/card_cover.png">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playerCard" class="playedCard" src="assets/img/cards/{{ card }}.png">

        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px;"
            src="assets/img/cards/{{ game.currentCard }}.png">

    </div>
</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="pin-bottom"></app-game-info>


<button *ngIf="!gameOver" (click)="openDialog()" mat-fab color="primary" class="btn-add button">
    <mat-icon>add</mat-icon>
</button>

<img class="preload-img" src="assets/img/cards/{{ game.stack[game.stack.length -1] }}.png">