.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150, 0.8);
    width: 120px;
    margin-left: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    img {
        width: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    span {
        width: 110px;
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-activ {
    background-color: orange !important;
}